@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rufina', serif;
  
}
body{
    background-color:#383838 ;
}
/*******************navbar***************************/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: #211F20;
}
.nav{

    display: flex;
    list-style: none;
} 
.nav .navigation{
    position: relative;
    display: flex;
    align-items: center;
}
.nav .navigation li{
    list-style: none;
    margin: 1em;
}
.nav .navigation li a{
    text-decoration: none;
    padding: 0.2em 1.2em 0.9em 1.2em;
    border-radius: 10px 10px 0 0;
    color: rgb(253, 253, 253);
    font-weight: 300;
    transition: all .4s;
    position: relative;
    z-index: 1;
}
.nav .navigation li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-radius: 10px 10px 0 0;
    background: #EF6824;
    transform-origin: bottom;
    background: linear-gradient(to right, #383838 , #EF6824);
    transform: scaleY(0.05);
    z-index: -1;
    transition: all .4s;
}
.nav .navigation li a:hover::before{
    transform: scaleY(1.1);
}
.nav .navigation li a:hover{
    color: white;
}
.btnc{
    position: relative;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: none;
}
.btnc::before{
    content: url(menu_50px.png);
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    font-size: 2em;
}
  header .logo img {
    width: 150px;
  }
  .sub-menus ul {
    position: absolute;
    top: 80px;
    background-color: #383838;
    padding: 5px 0px;
    min-width: 150px;
    box-shadow: 0px 0px 8px #383838;
    border-radius: 4px;
    display: none;
}
.sub-menus:hover ul {
    display: block;
}
.sub-menus ul li {
    padding: 5px 0px;
}
.sub-menus ul li a {
    padding: 8px 10px;
    display: block;
    color: #fff;
}
.sub-menus ul li:hover a {
    color: #fff;
}
.sub-menus ul::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #383838;
    position: absolute;
    top: -9px;
    
}

/*******************header***************************/

.banner {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    background-size: cover;
} 
.banner .contentt {
    text-align: center;
    display: flex;
    align-items: center;
    max-width: 900px;
  }
  #myVideo{  
    width: 100%;
    height: 100vh; 
    object-fit: cover;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
.text{
    color: rgb(255, 255, 255);
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    
  } 
  /***************************/
  .gray{
    padding: 10px;
    background: #737373;
   padding: 30px;
    
  }
.content h3{
    color: white;
}
.row{
      display: flex;
      flex-wrap: wrap;
     align-items: center; 
     justify-content: space-evenly;
  }
.content{
    display: flex;
    align-items: center;
}
.content img{
    width: 30px;
    height: 39px;
}
.content h3 {
    text-indent: 30px;
}
/*****************************************/
/**********************/
.testimonials {
    
    display:block;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.white .titleText {
    color: rgb(255, 255, 255);
    font-size:50px;
}

.testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5%;
    
}
.testimonials .content .imgBX {
    position: relative;
    cursor: pointer;
}
.testimonials .content .imgBX a{
    padding: 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.testimonials .content .imgBX  a img {
    
    position: relative;
    width: 70%;
    height: 70%;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all .5s;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: column;
    color: white;
    clip-path: circle(0% at 30% 30%);
    transition: all .5s;
}
.testimonials .content .imgBX:hover .cont{
    
   clip-path:circle(50% at 50% 50%) ;
}
.imgBX:hover img{
    filter: blur(5PX);
    transform:scale(1.1);
}
.cont h2{
    
    margin: 10px 0 0 15px;
}
/*****************************/
.Coaches{
    display:flex;
    flex-direction: column;
}
.imgC{    
    background-image: url(Vector.png);
    background-size:100% 100% ;
    justify-content: space-evenly;
    display: flex;
    min-width: 0;
    bottom:0;
}
.Nassimbox{
    display: flex;
    flex-direction: column;
    width: 276px;
    height: 600px;
    margin-bottom: -5%;
}
.img_item{
    height: 390px;
}

.nassim{
    color: white;
    display: flex;
    align-items: center;
    background-color: #383838;
    border-radius: 40px;
    flex-direction: column;
    height: 30%;
    padding: 40px 70px;
}
.Fitness{
    align-self: center;
    letter-spacing: 0;
    margin-top: 10px;
    color: orangered;
}
/************************/

.box-contact h1 {
    font-weight: lighter;
    line-height: 100px;
}

.tit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.tit p{
    margin-left: 8%;
    font-size: 30px;
}
.sm a img{
    margin-top: 10%;
   text-align: center;

} 
.sm a img:hover{
    color: rgb(0, 0, 0/0.57);
    box-shadow: 0 0 5PX #737373;
}
.contact_info{
    line-height: 5%;
}
.tit ul{
    list-style: none;

}
.cc{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: rgba(33, 31, 32, 0.51);
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    margin: 100px 100px;
    justify-content: center;
    align-items: center;
    
}
.box-contact{
    background: rgba(96, 96, 94, 0.59);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.28);
    border-radius: 40px;
    text-align: center;
    line-height: 40px; 
    color: white;
    margin: 50px;
    height: 65%;

}
.title .titletxt{
    margin-top: 20%;
}
.contact {
    width:100%;
    background-size: cover;
    display:block;
    
}

.contactForm {
    padding: 50px 50px;
    max-width: 700px;
    margin-top: 50px;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}

.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111; 
    outline: none;
    font-size: 16px;
    font: 300 1em/1.35rem "proxima-nova", sans-serif;
    font-weight: 300;
    resize: none;
    border-radius:12px;
}

input[type=text], textarea {
    height: 60px; 
}

textarea {
    width: 100%;
    height: 150px;
}

.titleText {

    margin-top: 10%;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.contact .title .titleText{
    margin-top: 20%;
}
.title p{
    color: #fff;
    font-size: 25px;
}
textarea::-webkit-scrollbar {
    width: 12px;
    line-height: 2.3;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #4a7cce;
}

.contactForm .inputBox input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #EF6824;
    display: flex;
    justify-content:center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    font-weight: 500;
    height:50px;
    width:160px;
    text-align:center;
    border: 10px;
    cursor: pointer;
    border-radius:12px;
}
input[type="submit"]:hover 

{
    box-shadow: 0 12px 16px 0 #737373,0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #EF6824;
}
/*********************/

footer {
    background: #0D0C0C;
    
}

.footer_top {
    display: flex;
    justify-content:space-around;
    padding: 2.5em 0;
}

.footer_top li {
    line-height: 2rem;
}

.footer_top li a:hover {
    color: #EF6824;
}

footer ul {
    list-style: none;
    font-size: 20px;
    margin-left: 3%;
}

.list_title {
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.afoter {
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.list_title {
    color: white;
    font-weight: 400;
}
.toggle{
    width: 50px;
    height: 50px;
    background: #0D0C0C;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.toggle::before{
    content: url(icones/share.png);
    width: 100%;
    height: 100%;
    position: absolute;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}
.share.active .toggle::before{
    content: url(delete_50px.png);
    font-size: 2rem;
}
.share{
    position: relative;
}
.share ol{
    position: absolute;
    margin: 2px;
    width: 50px;
    height: 50px;
}
.share ol li{
    position: absolute;
    width: 50px;
    height: 50px;
    background:#0D0C0C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .4s;
}
.share ol li a{
    color: black;
}
.share.active ol li{
    transform: translate(0);
    transition: all 0.4s;
}
.share.active ol li:nth-child(1){
    transition-delay: 0.1s;
    transform: translateX(60px);
}

.share.active ol li:nth-child(3){
    transition-delay: 0.3s;
    transform: translateX(-60px);
}
.share.active ol li:nth-child(4){
    transition-delay: 0.4s;
    transform: translateY(-60px);
}
.fimg{
    display: flex;
  }
/*****************footer copyright*********************/

.copyrightText {
    padding: 8px 40px;
    background-color:#EF6824 ;
}

.copyrightText p {
    color: rgb(0, 0, 0);
}

.copyrightText a {
   color: #181516;
   font-weight: 500;
   text-decoration: none;
}
